#cuerpo{
    padding: 30px;
    background-image: url("fondo.png");
    flex-direction: row;
}

#bruh1{
    text-decoration: underline;
}

.myclass{
    text-align: justify;
}
.pi{
    text: bold;
}

table{
    border-collapse: collapse;

}
td, th{
    border: 1px solid #dddddd;
    text-align; left;
    padding: 8px;
}
tr:nth-child(even){
    background-color: honeydew;
}
